footer {
    padding: 50px 0 20px;
    background-color: var(--vermelho-tijolo);
}

#footer_items {
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}

#copyright {
    color: white;
    font-weight: 600;
}

.footer__credits {
  text-align: center;
  font-size: 0.8rem;
  color: #f0f0f0; 
}

.footer__credits a {
  color: #fff;
  text-decoration: underline; 
  font-weight: 500;
}

.footer__credits a:hover {
  color: #ccc; 
}
