nav {
  position: absolute;
  width: 100%;
  max-width: var(--max-width-1);
  top: 0;
  left: 50%;
  transform: translate(-50%);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9;
}

.nav__logo a img {
  max-width: 80px;
}

.nav__logo .logo-color {
  display: none;
}

/* Código para telas menores (mobile) */
.nav__links {
  list-style: none;
  position: absolute;
  right: 1rem;
  top: 75px;
  width: 100%;
  max-width: 350px;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  background-color: var(--vermelho-vinho);
  border-radius: 1rem;

  /* Alterado para que o menu desapareça com transição */
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.nav__links.open {
  /* Quando a classe "open" é adicionada, o menu aparece */
  opacity: 1;
  visibility: visible;
}

/* Código para telas maiores (desktop) */
@media (width > 768px) {
  nav {
    padding: 2rem 1rem;
  }

  .nav__logo .logo-color {
    display: flex;
  }

  .nav__logo .logo-white {
    display: none;
  }

  /* O botão do menu é escondido */
  .nav__menu__btn {
    display: none;
  }

  /* O menu é exibido como flexbox */
  .nav__links {
    padding: 0.75rem 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 3rem;
    flex-direction: row;
    max-width: fit-content;
    border-radius: 5rem;
    background-color: var(--vermelho-tijolo);

    /* Certifique-se que o menu esteja sempre visível e sem transição */
    opacity: 1;
    visibility: visible;
  }
}
