@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap");

@import url('nav.css');
@import url('header.css');
@import url('about.css');
@import url('menu.css');
@import url('galeria.css');

:root {
  --bege-rosado: #D9C7B8;
  --vermelho-tijolo: #D94343;
  --marrom-oliva: #594918;
  --vermelho-vinho: #CC2C2C;
  --dourado-metalico: #FFD700;
  --dourado: #FFE87C;
  --indian-yellow: hsl(36, 61%, 58%);
  --harvest-gold: hsl(36, 66%, 53%);
  --jet: hsl(0, 0%, 21%);
  --dourado-rose: #E0BFB8;

  --font-size-1: 0.9rem;
  --font-size-2: 1rem;
  --font-size-3: 1.12rem;
  --font-size-4: 1.5rem;
  --font-size-5: 2rem;
  --font-size-6: 2.5rem;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --border-radius-1: 10px;
  --border-radius-2: 30px;
  --border-radius-3: 50%;

  --max-width-1: 1200px;
  --max-width-2: 1300px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens na horizontal */
  gap: 20px; /* Adiciona um espaço entre o botão do WhatsApp e os das redes sociais */
}

.btn-default {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: #CC2C2C;
  border-radius: var(--border-radius-1);
  padding: 10px 14px;
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color .3s ease;
}

.btn-default:hover {
  background-color: black;
  color: var(--vermelho-vinho);
}

.zap {
  display: flex;
  gap: 25px;
}

.zap a {
  text-decoration: none;
  color: var(--vermelho-tijolo);
}

.zap a:hover {
  color: white;
  background-color: var(--vermelho-tijolo);
}

.zap-btn {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: white;
  padding: 8px 14px;
  font-weight: 500;
  border-radius: 10px;
}

.social-media {
  display: flex;
  gap: 20px;
}

.social-media a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 40px;
  background-color: black;
  font-size: 1.5rem;
  border-radius: 10px;
  text-decoration: none;
  color: var(--vermelho-tijolo);
}

.social-media a:hover {
  color: black;
  background-color: var(--vermelho-tijolo);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

html,
body {
  scroll-behavior: smooth;
}

.section-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--max-width);
}

.section-title {
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: var(--font-size-5);
}

.section-title::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    background: var(--vermelho-tijolo);
    border-radius: var(--border-radius-1);
    margin: 10px auto 0;
}
